[django]
debug = yes
secret_key = abc123

[database]
host = 127.0.0.1
port = 3306
name = django_instagram_demo
user = root
password = root

[redis]
enabled = no
location = redis://127.0.0.1:6379/1

[instagram]
app_id = abc
secret = abc
redirect_url = https://www.example.com/your-admin/instagram_profile/profile/authorized/
